<h1>Chat room</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input id="room_speaker" type="hidden" name="content">
  <trix-editor input="room_speaker"></trix-editor>
  <input type="button" value="Send" id="room_speaker_button">
</form>

