<h1>Chat room</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" id="room_speaker_text">
  <input type="button" value="Send" id="room_speaker_button">
</form>

